@use "../base";

.footer {
    background-color: rgb(47, 47, 47);
    padding: 0px 32px;
    color: whitesmoke;

    &__nav {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }

    &__title {
        font-family: base.$shrik;
    }
}