@use '../base';

.btn {
    background: linear-gradient(base.$color-secondary, base.$color-primary);
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: 400;
}

.desc__btn {
    padding: 15px;
}

.menu__btn {
    margin: 32px 0px 50px 0px;
    width: 175px;
    height: 48px;
    align-self: center;
}