@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand:wght@100;200;300;400;500;600;700;800;900&display=swap");

$shrik: 'Shrikhand', sans-serif;

.menu {
    
    &__n-title {
        font-family: $shrik;
    }
}

h1, h2, h3, h4, h5, h6, p, button, li, span {
    font-family: 'Roboto', sans-serif;
}

.white {
    color : white;
}

a {
    text-decoration: none;
    color: black;
}
